{{ define "title" }}Search{{ end }}
{{ define "body" }}

<form action="" method="get">
    <div class="form-group">
        <label for="mailAddress">Domain or Email Address</label>
        <input type="text" class="form-control" id="mailAddress" placeholder="e.g. example.com or email@example.com" name="mailAddress">
    </div>
    <div class="form-group">
        <label for="mailAddress">Sasl Username</label>
        <input type="text" class="form-control" id="saslUser" placeholder="" name="saslUser">
    </div>
    <div class="form-group">
        <label for="queueId">Message Queue ID</label>
        <input type="text" class="form-control" id="queueId" placeholder="" name="queueId">
    </div>
    <div class="form-group">
        <label for="mailAddress">IP</label>
        <input type="text" class="form-control" id="clientAddress" placeholder="e.g. 10.20.30.40" name="clientAddress">
    </div>
    <button type="submit" class="btn btn-default"><b>Search</b></button>
    <hr />
    <div class="form-group">
        <label for="instance">Instance</label><br />
        <select name="instance" multiple="multiple" required="required">
            {{ range $key, $instance := .Instances }}
                <option value="{{ $instance.Id }}" selected="selected">{{ $instance.Description }} ({{ $instance.Name }})</option>
            {{ end }}
        </select>
    </div>
    <div class="form-group">
        <span><B>Search in</B></span><br />
        <label class="radio-inline" for="datasource_mysql">
            <input type="radio" name="datasource" id="datasource_mysql" value="mysql" checked="checked" />
            Mysql (slow)
        </label><br />
        <label class="radio-inline" for="datasource_es">
            <input type="radio" name="datasource" id="datasource_es" value="elasticsearch" />
            Elasticsearch (experimental)
        </label>
    </div>
</form>

{{ end }}
{{ define "script_footer" }}

{{ end }}