{{ define "title" }}Search{{ end }}
{{ define "body" }}

<form action="" method="get">
    <div class="form-group">
        <label for="queueId">Message Queue ID</label>
        <input type="text" class="form-control" id="queueId" placeholder="Enter Queue ID" name="queueId">
    </div>
    <div class="form-group">
        <label for="mailAddress">Email Address Or Domain</label>
        <input type="text" class="form-control" id="mailAddress" placeholder="Enter Mail Address or Domain to search for" name="mailAddress">
    </div>
    <div class="form-group">
        <label for="mailAddress">IP</label>
        <input type="text" class="form-control" id="clientAddress" placeholder="Enter the IP to search for" name="clientAddress">
    </div>
    <div class="form-group">
        <label for="mailAddress">Sasl Username</label>
        <input type="text" class="form-control" id="saslUser" placeholder="Enter the Sasl User to search for" name="saslUser">
    </div>
    <div class="form-group">
        <label for="instance">Instance</label><br />
        <select name="instance" multiple="multiple" required="required">
            {{ range $key, $instance := .Instances }}
                <option value="{{ $instance.Id }}" selected="selected">{{ $instance.Description }} ({{ $instance.Name }})</option>
            {{ end }}
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{{ end }}
{{ define "script_footer" }}

{{ end }}