{{ define "title" }}Mail Queue{{ end }}
{{ define "body" }}

<form action="" method="get">
    <div class="form-group">
        <label for="sender">Sender Email Address Or Domain</label>
        <input type="text" class="form-control" id="sender"  value="{{ .Sender }}" placeholder="Enter Mail Address or Domain to search for" name="sender">
    </div>
    <div class="form-group">
        <label for="recipient">Recipient Email Address Or Domain</label>
        <input type="text" class="form-control" id="recipient" value="{{ .Recipient }}" placeholder="Enter Mail Address or Domain to search for" name="recipient">
    </div>
    <div class="form-group">
        <label for="instance">Instance</label><br />
        <select name="instance" multiple="multiple" required="required">
            {{ range $key, $instance := .Instances }}
                {{ if $instance.Selected }}
                    <option value="{{ $instance.Id }}" selected="selected">{{ $instance.Description }} ({{ $instance.Name }})</option>
                {{ else }}
                    <option value="{{ $instance.Id }}">{{ $instance.Description }} ({{ $instance.Name }})</option>
                {{ end }}
            {{ end }}
        </select>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

{{ range $queue, $items := .QueueItems }}
    <h2>{{ $queue }} ({{ len $items }}) </h2>

    <table class="table table-striped">
        <tr>
            <th>Id</th><th>Date</th><th>Sender</th><th>Recipient</th><th>&nbsp;</th>
        </tr>
        {{ range $i, $item := $items }}
            <tr>
                <td><a href="/message/{{ $item.Kv.log_ident }}">{{  $item.Kv.log_ident }}</a></td>
                <td>{{ $item.Time }}</td>
                <td>{{ $item.Kv.sender }}</td>
                <td>{{ $item.Kv.recipient }}</td>
                <td>&nbsp;</td>
            </tr>
        {{ end }}
    </table>

{{ end }}

{{ end }}
{{ define "script_footer" }}

{{ end }}