{{ define "title" }}Message{{ end }}
{{ define "body" }}

<dl class="dl-horizontal">
    <dt>Date</dt>
    <dd>{{printf "%s" .Message.Date}}</dd>
    <dt>MTA</dt>
    <dd>{{printf "%s" .Message.MtaHostname}} ({{printf "%s" .Message.MtaDaemonName}})</dd>
    <dt>IP</dt>
    <dd>{{printf "%s" .Message.Ip}}
        (RDNS: <i>{{printf "%s" .Message.ReverseDns}}</i>,
        HELO: <i>{{printf "%s" .Message.Helo}}</i>)</dd>
    <dt>Sasl Username</dt>
    <dd>{{printf "%s" .Message.SaslUsername}} ({{printf "%s" .Message.SaslMethod}})</dd>
    <dt>Certificate</dt>
    <dd title="Issued by: {{printf "%s" .Message.CertIssuer}}">{{printf "%s" .Message.CertSubject}}</dd>
    <dt>Cipher</dt>
    <dd>{{printf "%s" .Message.TlsVersion}} {{printf "%s" .Message.CipherBits}} {{printf "%s" .Message.Cipher}}</dd>
    <dt>Sender</dt>
    <dd>{{printf "%s" .Message.Sender}}</dd>
    <dt>Recipient Count</dt>
    <dd>{{printf "%d" .Message.RcptCount}}</dd>
    <dt>Recipients</dt>
    {{ range $key, $value := .Message.Recipients }}
        <dd>{{ $value.Email }}</dd>
    {{ end }}
    <dt>Verdict</dt>
    <dd>{{printf "%s" .Message.Verdict}}</dd>
    <dt>Verdict Message</dt>
    <dd>{{printf "%s" .Message.VerdictMsg}}</dd>
    <dt>Reject Score</dt>
    <dd>{{printf "%.2f" .Message.RejectScore}} (threshold: {{printf "%.2f" .Message.RejectScoreThreshold}})</dd>
    <dt>Tempfail Score</dt>
    <dd>{{printf "%.2f" .Message.TempfailScore}} (combined: {{printf "%.2f" .Message.ScoreCombined }},
        threshold: {{printf "%.2f" .Message.TempfailScoreThreshold}})</dd>
    <dt>Body size</dt>
    <dd title="{{printf "%d" .Message.BodySize}} Bytes">{{printf "%s" .Message.BodySizeStr}}</dd>
    <dt>Headers</dt>
    <dd>
        <dl class="dl-horizontal">
            <dt></dt><dd></dd> <!-- Circumvent CSS bug -->
            {{ range $key, $value := .Message.Headers }}
                <dt>{{ $value.Name }}</dt>
                <dd>{{ $value.Body }}</dd>
            {{ end }}
        </dl>
    </dd>
</dl>

<h2>Check Results</h2>
<table class="table">
    <tr>
    <th>Module</th><th>Verdict</th><th>Duration</th><th>Score</th><th>Determinants</th>
    </tr>
    {{ range $key, $value := .Message.CheckResults }}
        <tr>
            <td>{{ $value.Module }}</td>
            <td>{{ $value.Verdict }}</td>
            <td>{{ printf "%.3f" $value.Duration }} s</td>
            <td>{{ printf "%.2f" $value.Score }}
                {{ if ne $value.WeightedScore $value.Score }}
                    <span title="Weighted Score">({{ printf "%.2f" $value.WeightedScore }})</span>
                {{ end }}
            </td>
            <td class="determinant">{{ $value.Determinants }}</td>
        </tr>
    {{ end }}
</table>

{{ end }}
{{ define "script_footer" }}
<script>
    $(".determinant").each(function() {
        var jsonStr = $(this).text();
        var jsonObj = JSON.parse(jsonStr);
        $(this).html("<pre>"  + JSON.stringify(jsonObj, null, '\t') + "</pre>");
    })
</script>
{{ end }}