[cluegetter]
stats-http-listen-port = 1937
stats-http-listen-host = "0.0.0.0"

rdbms-driver           = mysql
rdbms-user             = root
rdbms-password         =
rdbms-protocol         = tcp
rdbms-address          = localhost:3306
rdbms-database         = cluegetter
rdbms-mysql-strictmode = true

instance               = default

message-reject-score   = 5

# The tempfail score includes that of the reject score,
# so should always be higher than the reject score.
message-tempfail-score = 8

[quotas]
enabled = true
account-sender = false
account-recipient = true
account-client-address = true
account-sasl-username = true
