[cluegetter]
stats-http-listen-port = 1937
stats-http-listen-host = "0.0.0.0"

rdbms-driver           = mysql
rdbms-user             = root
rdbms-password         =
rdbms-protocol         = tcp
rdbms-address          = localhost:3306
rdbms-database         = cluegetter
rdbms-mysql-strictmode = true

[quotas]
enabled = true
account-sender = false
account-recipient = false
account-client-address = true
account-sasl-username = true
