{{ define "title" }}Stats{{ end }}
{{ define "body" }}
<p id="cmd"></p>
<p>All stats except for the Runtime Memstats are data from the last 15 minutes</p>
<h2>Runtime Memstats</h2>
<h3>General</h3>
<table>
    <tr title="Bytes allocated and still in use">
        <td>Alloc</td>
        <td id="stats-runtime-alloc"></td>
    </tr>
    <tr title="Bytes allocated (even if freed)">
        <td>TotalAlloc</td>
        <td id="stats-runtime-totalalloc"></td>
    </tr>
    <tr title="Bytes obtained from system (sum of XxxSys below)">
        <td>Sys</td>
        <td id="stats-runtime-sys"></td>
    </tr>
    <tr title="Number of pointer lookups">
        <td>Lookups</td>
        <td id="stats-runtime-lookups"></td>
    </tr>
    <tr title="Number of mallocs">
        <td>Mallocs</td>
        <td id="stats-runtime-mallocs"></td>
    </tr>
    <tr title="Number of frees">
        <td>Frees</td>
        <td id="stats-runtime-frees"></td>
    </tr>
</table>

<h3>Heap allocation</h3>
<table>
    <tr title="The number of bytes the program has asked the operating system for">
        <td>HeapSys</td>
        <td id="stats-runtime-heapsys"></td>
    </tr>
    <tr title="The number of bytes currently allocated in the heap">
        <td>HeapAlloc</td>
        <td id="stats-runtime-heapalloc"></td>
    </tr>
    <tr title="The number of bytes in the heap that are unused">
        <td>HeapIdle</td>
        <td id="stats-runtime-heapidle"></td>
    </tr>
    <tr title="The number of bytes returned to the operating system">
        <td>HeapReleased</td>
        <td id="stats-runtime-heapreleased"></td>
    </tr>
</table>

<h2>RDBMS</h2>
<table>
    <tr title="Number of RDBMS Queries performed"><td>Queries</td><td id="stats-value-RdbmsQueries"></td></tr>
    <tr title="Number of RDBMS Errors ::sadface:: (better check your logs!)"><td>Errors</td><td id="stats-value-RdbmsErrors"></td></tr>
</table>

<h2>Message</h2>
<table>
    <tr title=""><td>Panics</td><td>Total</td><td id="stats-value-MessagePanics"></td></tr>
    <tr title=""><td>Verdict Permit</td><td>Total</td><td id="stats-value-MessageVerdictPermit"></td></tr>
    <tr title=""><td>Verdict Tempfail</td><td>Total</td><td id="stats-value-MessageVerdictTempfail"></td></tr>
    <tr title=""><td>Verdict Reject</td><td>Total</td><td id="stats-value-MessageVerdictReject"></td></tr>
    <tr title=""><td>Verdict Tempfail</td><td>Quotas</td><td id="stats-value-MessageVerdictTempfailQuotas"></td></tr>
    <tr title=""><td>Verdict Tempfail</td><td>Spamassassin</td><td id="stats-value-MessageVerdictTempfailSpamassassin"></td></tr>
    <tr title=""><td>Verdict Reject</td><td>Quotas</td><td id="stats-value-MessageVerdictRejectQuotas"></td></tr>
    <tr title=""><td>Verdict Reject</td><td>Spamassassin</td><td id="stats-value-MessageVerdictRejectSpamassassin"></td></tr>
</table>

<h2>Milter</h2>
<table>
    <tr title="Number of times the connect() callback was called"><td>connect()</td><td id="stats-value-MilterCallbackConnect"></td></tr>
    <tr title="Number of times the Helo() callback was called"><td>Helo()</td><td id="stats-value-MilterCallbackHelo"></td></tr>
    <tr title="Number of times the envFrom() callback was called"><td>envFrom()</td><td id="stats-value-MilterCallbackEnvFrom"></td></tr>
    <tr title="Number of times the envRcpt() callback was called"><td>envRcpt()</td><td id="stats-value-MilterCallbackEnvRcpt"></td></tr>
    <tr title="Number of times the header() callback was called"><td>header()</td><td id="stats-value-MilterCallbackHeader"></td></tr>
    <tr title="Number of times the eoh() callback was called"><td>eoh()</td><td id="stats-value-MilterCallbackEoh"></td></tr>
    <tr title="Number of times the body() callback was called"><td>body()</td><td id="stats-value-MilterCallbackBody"></td></tr>
    <tr title="Number of times the eom() callback was called"><td>eom()</td><td id="stats-value-MilterCallbackEom"></td></tr>
    <tr title="Number of times the close() callback was called"><td>close()</td><td id="stats-value-MilterCallbackClose"></td></tr>
    <tr title="Number of times the abort() callback was called"><td>abort()</td><td id="stats-value-MilterCallbackAbort"></td></tr>
    <tr title="Number of times communicating with libmilter failed"><td>Protocol Errors</td><td id="stats-value-MilterProtocolErrors"></td></tr>
</table>

{{ end }}
{{ define "script_footer" }}
<script>
    $.ajax({
        url: "/debug/vars",
        datatype: "json",
        context: document.body,
        success: function (data) {
            $("#cmd").html(data.cmdline.join(" "))
            $("#stats-runtime-alloc").html((data.memstats.Alloc / 1024 / 1024).toFixed(2) + " MiB")
            $("#stats-runtime-totalalloc").html((data.memstats.TotalAlloc / 1024 / 1024).toFixed(2) + " MiB")
            $("#stats-runtime-sys").html((data.memstats.Sys / 1024 / 1024).toFixed(2) + " MiB")
            $("#stats-runtime-lookups").html((data.memstats.Lookups / 1024 / 1024).toFixed(2) + " MiB")
            $("#stats-runtime-mallocs").html((data.memstats.Mallocs / 1024 / 1024).toFixed(2) + " MiB")
            $("#stats-runtime-frees").html((data.memstats.Frees / 1024 / 1024).toFixed(2) + " MiB")

            $("#stats-runtime-heapsys").html((data.memstats.HeapSys / 1024 / 1024).toFixed(2) + " MiB")
            $("#stats-runtime-heapalloc").html((data.memstats.HeapAlloc / 1024 / 1024).toFixed(2) + " MiB")
            $("#stats-runtime-heapidle").html((data.memstats.HeapIdle / 1024 / 1024).toFixed(2) + " MiB")
            $("#stats-runtime-heapreleased").html((data.memstats.HeapReleased / 1024 / 1024).toFixed(2) + " MiB")

            for (var i in data.statscounters) {
                $("#stats-value-" + i).html(data.statscounters[i])
            }

            if (typeof console == "object") {
                console.log(
                    "There's even more stats. Feel free to examine those yourself. Or file a pull request to ClueGetter...\n",
                    data
                )
            }

        }
    })
</script>

{{ end }}