{{ define "MessageResults" }}


<div>
    <div id="chartContainer1Yrs" style="height: 150px; width: 33%; float: left"></div>
    <div id="chartContainer30Days" style="height: 150px; width: 33%; float: left"></div>
    <div id="chartContainer24H" style="height: 150px; width: 33%; float: left"></div>
</div>

<table class="table table-striped">
    <tr>
        <th>Id</th><th>Date</th><th>Verdict</th><th>Sender</th><th>Rcpt Count</th><th>Recipients</th>
    </tr>
    {{ range $sessid, $session := .Results.Sessions }}
        {{ range $msgId, $msg := .Messages }}
        <tr>
            <td><a href="/message/{{ $msg.QueueId }}">{{ $msg.QueueId }}</a></td>
            <td>{{ $msg.Date.Format "2006-01-02 15:04:05 -0700 MST" }}</td>
            <td>{{ if eq $msg.Verdict 0 }}
                    permit
                {{ end }}
                {{ if eq $msg.Verdict 1 }}
                    tempfail
                {{ end }}
                {{ if eq $msg.Verdict 2 }}
                    reject
                {{ end }}
                {{ if eq $msg.Verdict 3 }}
                    error
                {{ end }}
            </td>
            <td>{{ $msg.From.String }}</td>
            <td>{{ len $msg.Rcpt }}</td>
            <td>
                {{ range $key2, $recipient := .Rcpt }}
                    {{ $recipient.String }}
                {{ end }}
            </td>
        </tr>
        {{ end }}
    {{ end }}
</table>

<!-- Putting this here twice is a bit redundant, but works -->
{{ template "script_footer" . }}

{{ end }}

{{ define "script_footer" }}
<script type="text/javascript">

    $("#form-search").submit(function (e) {
        e.preventDefault();
        var url = '?' + $('#form-search').serialize()
        window.history.replaceState('Object', document.title, url);

        $.get( url, function( data ) {
            $( "#searchResults" ).html( data );
        });
    });

    var drawGraph = function(chartId, data, title) {
        var dataPoints = []
        for (var timestamp in data) {
            dataPoints.push({x: new Date(+timestamp), y: data[timestamp]})
        }

        var chart = new CanvasJS.Chart(chartId,
                {
                    zoomEnabled: false,
                    title: {
                        text: title
                    },
                    data: [
                        {
                            type: "spline", // "area",
                            xValueType: "dateTime",
                            dataPoints: dataPoints
                        }
                    ]
                });

        chart.render();
    }

    drawGraph("chartContainer24H", {{ .Results.DateHistogram24Hrs }}, "Past 24 Hours")
    drawGraph("chartContainer30Days", {{ .Results.DateHistogram30Days }}, "Past Month")
    drawGraph("chartContainer1Yrs", {{ .Results.DateHistogram1Yrs }}, "Past Year")

</script>
{{ end }}